@import url('https://fonts.cdnfonts.com/css/serif');

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@100&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

  :root {
    --bg-header: #284480;
    --bg-body: #ffffff;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: #222; */
    /* height: 100vh; */
    display: grid;
    place-items: center;
    /* font-family: Source-Serif-Variable; */
    /* font-family: 'Oswald', sans-serif; */
    color: #212529;
}

p {
    color: #484646;
    font-size: 16px;
    text-align: justify;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;

}
.body-pd{
    padding: 0px 20px;
}
.card-main {

    width: 450px;
    background: #f9f9f9;
    border-radius: 0px;
    text-align: center;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); */
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    user-select: none;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #F6F6F6;
    /* height: 300px; */
    border-bottom: 5px solid var(--bg-header);

}
.bold{
    font-weight: 900;
    font-family: sans-serif;
}
.card-title {
    position: absolute;
    top: 29%;
    left: 6%;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.card-cover-photo {
    position: relative;
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg); */
    background: url(img/sample.png);
    background-size: cover;
    height: 80px;
    border-radius: 0px 0px 18px 18px;
    background: var(--bg-header);
}
.card-profile {
    /* position: absolute; */
    width: 130px;
    height: 165px;
    bottom: -110px;
    left: 7px;
    border-radius: 8%;
    border: 3px solid var(--bg-header);
    grid-column: 1;
    margin-top: -20%;
    z-index: 9;
    margin-left: 4px;
    margin-left: 20px;
    box-sizing: border-box;
}
.card-profile1 {
    width: 105px;
    height: 128px;
    bottom: -110px;
    left: 7px;
    border-radius: 8%;
    border: 3px solid var(--bg-header);
    grid-column: 1;
    margin-top: -40%;
    z-index: 9;
    margin-left: 4px;
    margin-left: 32px;
    box-sizing: border-box;
}
p.cc-para {
    color: #404142;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    text-align: start;
    word-spacing: 8px;
}
.scanner-img{
    width: 115px;
    height: 115px;
    margin: 10px 0px;
    border: 3px outset var(--bg-header);
 
}
.card-user-name {
    color: #fff;
    bottom: 0;
    position: absolute;
    left: 41%;
    /* font-size: 1.42rem; */
    left: 40%;
    font-size: 1.62rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.card-content{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.cc-para1 {
    grid-column: 2;
    padding: 0px 21px;
    box-sizing: border-box;
}
.card {
    padding: 15px;
    width: 460px;
    background: #f9f9f9;
    border-radius: 0px;
    text-align: center;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); */
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    user-select: none;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #F6F6F6;
    border-bottom: 5px solid var(--bg-header);
}
img.card-logo {
    position: absolute;
    height: 32px;
    /* width: 48px; */
    width: 80px;
    right: 12px;
    top: 12px;
}
.cover-photo {
    position: relative;
    /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg"); */
    background: url("img/sample.png");
    background-size: cover;
    height: 136px;
    border-radius: 0px 0px 40px 40px;
    background: var(--bg-header);
}

.profile {
    position: absolute;
    width: 152px;
    height: 152px;
    bottom: -110px;
    left: 7px;
    border-radius: 8%;
    border: 3px solid var(--bg-header);
}

/* .profile:hover {
    width: 150px;
    height: 150px;
    bottom: -110px;
    left: 13px;
    border-radius: 50%;
    border: 7px solid var(--bg-header);
   } */

.profile-name {
    font-size: 21px;
    margin: 25px 0 0 150px;
    color: var(--bg-header);
    /* margin-left: 10px; */
}

.about {
    font-size: 20px;
    line-height: 1.3;
}
.about-mt{
    margin-top: 36px;
    margin-bottom: 12px;
}
.socialshare{
    margin: 24px 0px 16px;

 
}
.icons {
    width: 90%;
    margin: 16px auto 0px;
    display: flex;
    justify-content: space-between;
    color: var(--bg-header);
    /* background-color: #ffffff; */
}

.icons a {
    cursor: pointer;
    /* padding: 3px; */
    font-size: 25px;
    transition: 0.2s;
    color: var(--bg-header);
}

.icons a:hover {
    background-color: var(--bg-header);
    color: #ffffff;
    border-radius: 10px;
}

i {
    cursor: pointer;
    padding: 5px;
    font-size: 28px;
    transition: 0.2s;
    color: var(--bg-header);
}

i:hover {
    background-color: var(--bg-header);
    color: #ffffff;
    border-radius: 10px;
}

.left {
    text-align: left;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.hd {
    background-color: var(--bg-header);
    color: #fff;
    border-radius: 6px;
  
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
}

.dsh_a {
    text-decoration: none;
    border-color: 2px var(--bg-header);

}

.dsh {
    background-color: var(--bg-header);
    color: #ffffff;
    border-radius: 10px;
    border: 2px var(--bg-header);
    width: 90px;
    height: 60px;
    align-items: center;
    padding: 5px;
    padding-right: 50;
}

.das_i {
    background-color: var(--bg-header);
    color: #ffffff;
    font-size: 25px;
    margin-left:5px;
}

.dash_img {
    width: 80px;
}

.iframee{
    border:3px solid var(--bg-header); 
    padding: 0px;
     border-radius: 10px;
}
.copyright{
    margin-top: 5px; 
    font-size: 14px;
}

.d-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

section.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-top: 3px solid var(--bg-header)fa;
    border-bottom: 3px solid var(--bg-header);
    background: #2944803b;
    box-shadow: 0px -1px 12px 1px var(--bg-header);
}
.form-box{
        width: 100%;
        padding: 12px;
   
}
.sum-btn{
    background-color: var(--bg-header);
    color: #fff;
}
.form-input{
    margin-bottom: 16px;
}
.client-det{
    text-align: center;
    font-size: 29px;
    text-transform: capitalize;
    padding-bottom: 6px;
    background: var(--bg-header);
    color: #fefefe;
    margin-bottom: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
img.form-logo {
    margin: auto;
    width: 104px;
    height: 60px;
    display: flex;
}

.form-box {
    width: 100%;
    padding: 65px 12px 12px 10px;
    grid-column: 2;
    width: 480px;
}
.left-form {
    height: 100vh;
    background: var(--bg-header);
    grid-column: 1;
    width: 200px;
}
section.form-section {
    display: grid;
    justify-content: start;
    align-items: start;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid var(--bg-header)fa;
    border-bottom: 3px solid var(--bg-header);
    background: #2944803b;
    box-shadow: 0px -1px 12px 1px var(--bg-header);
}
.btn:hover{
color: #fff;
background-color: var(--bg-header)87;

}
.main{
    height: 100vh;
    display: flex;
justify-content: center;
align-items: center;
margin-top: -4%;
}
.left-form1 {
/* height: 100vh; */
background: var(--bg-header);
/* grid-column: 1; */
width: 100%;
width: 400px;

}
.form-box1 {
width: 100%;
padding: 16px 12px 12px 10px;
/* grid-column: 2; */
/* width: 480px; */
}
section.form-section1 {
display: flex;
justify-content: start;
align-items: start;
/* width: 700px; */
grid-template-columns: 1fr;
border-top: 3px solid var(--bg-header)fa;
border-bottom: 3px solid var(--bg-header);
background: #2944803b;
box-shadow: 0px -1px 12px 1px var(--bg-header);
flex-direction: column;
}
.client-det1 {
text-align: center;
font-size: 29px;
text-transform: capitalize;
padding-bottom: 6px;
background: var(--bg-header);
color: #fefefe;
margin-bottom: 1px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 900;
}
@media screen and (max-width: 576px) {
    body{
        display: block;
    }
    .card {
        padding: 0px;
        width: 100%;
        background: #f9f9f9;
        border-radius: 0px;
        text-align: center;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); */
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
        user-select: none;
        margin-top: 0px;
        margin-bottom: 15px;
        background-color: #F6F6F6;
        border-bottom: none;
    }
    .hd {
        background-color: var(--bg-header);
        color: #fff;
        border-radius: 6px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 800;
        font-size: 1.25rem;
    }
    .copyright{
        margin-top: 5px; 
        font-size: 14px;
        text-align: center;
        padding-bottom: 12px;
    }
    .card-profile1 {
        width: 105px;
        height: 128px;
        bottom: -110px;
        left: 7px;
        border-radius: 8%;
        border: 3px solid var(--bg-header);
        grid-column: 1;
        margin-top: -48%;
        z-index: 9;
        margin-left: 4px;
        margin-left: 32px;
        box-sizing: border-box;
    }
    .cover-photo {
        position: relative;
        /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg); */
        background: url(img/sample.png);
        background-size: cover;
        height: 136px;
        border-radius: 0px 0px 34px 34px;
        background: var(--bg-header);
    }
    .card-user-name {
        color: #fff;
        bottom: 0;
        position: absolute;
        left: 44%;
        /* font-size: 1.42rem; */
        left: 44%;
        font-size: 1.42rem;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .icons {
        width: 90%;
    margin: 23px auto 0px;
    display: flex;
    justify-content: space-between;
    color: var(--bg-header);
    }

    img.card-logo {
        position: absolute;
        height: 40px;
        width: 80px;
        right: 12px;
        top: 5px;
    }

    .card-main {
        width: 100%;
        background: #f9f9f9;
        border-radius: 0px;
        text-align: center;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); */
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
        user-select: none;
        margin-top: 0px;
        margin-bottom: 15px;
        background-color: #F6F6F6;
        /* height: 300px; */
        border-bottom: 5px solid var(--bg-header);
    }

    .card-cover-photo {
        position: relative;
        /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg); */
        background: url(img/sample.png);
        background-size: cover;
        height: 84px;
        border-radius: 0px 0px 18px 18px;
        background: var(--bg-header);
    }
    .section-card{
        padding: 0px 4px;
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    section.form-section {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        grid-template-columns: 1fr;
        border-top: 3px solid var(--bg-header)fa;
        border-bottom: 3px solid var(--bg-header);
        background: #2944803b;
        box-shadow: 0px -1px 12px 1px var(--bg-header);
        flex-direction: column;
    }
    .left-form {
        height: 100%;
        background: var(--bg-header);
        grid-column: 1;
        width: 100%;
    }
    .form-box {
        width: 100%;
        padding: 19px 12px 12px 10px;
        grid-column: 2;
        /* width: 480px; */
    }
    .client-det {
        text-align: center;
        font-size: 29px;
        text-transform: capitalize;
        padding-bottom: 6px;
        background: var(--bg-header);
        color: #fefefe;
        margin-bottom: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 900;
    }
    .main {
        /* height: 100vh; */
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
        margin-top: 15%;
        padding: 12px;
        box-sizing: border-box;
    }
    .left-form1 {
        /* height: 100vh; */
        background: var(--bg-header);
        /* grid-column: 1; */
        
        width: 100%;
    }
  }